<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/registration-form.css">


</head>
<body>

<div class="form-container"> <!-- Use form-container for the outer div -->

    <h2 class="form-header">New User Registration</h2>

    <!-- Registration Form -->
    <form action="#" th:action="@{/register/processRegistrationForm}"
          th:object="${webUser}"
          method="POST">

        <!-- Check for login error -->
        <div th:if="${param.registrationError}" class="form-group">
            <div class="alert alert-danger">
                <span th:text="${param.registrationError}"></span>
            </div>
        </div>

        <!-- User name -->
        <div class="form-group">
            <label for="userName">Username (*)</label>
            <input type="text" th:field="*{userName}" id="userName" placeholder="Username (*)" class="form-control" />
            <div th:if="${#fields.hasErrors('userName')}" class="text-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('userName')}" th:text="'User name ' + ${err}" />
                </ul>
            </div>
        </div>

        <!-- Password -->
        <div class="form-group">
            <label for="password">Password (*)</label>
            <input type="password" th:field="*{password}" id="password" placeholder="Password (*)" class="form-control" />
            <div th:if="${#fields.hasErrors('password')}" class="text-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('password')}" th:text="'Password ' + ${err}" />
                </ul>
            </div>
        </div>

        <!-- First Name -->
        <div class="form-group">
            <label for="firstName">First Name (*)</label>
            <input type="text" th:field="*{firstName}" id="firstName" placeholder="First name (*)" class="form-control" />
            <div th:if="${#fields.hasErrors('firstName')}" class="text-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('firstName')}" th:text="'First name ' + ${err}" />
                </ul>
            </div>
        </div>

        <!-- Last Name -->
        <div class="form-group">
            <label for="lastName">Last Name (*)</label>
            <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last name (*)" class="form-control" />
            <div th:if="${#fields.hasErrors('lastName')}" class="text-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('lastName')}" th:text="'Last name ' + ${err}" />
                </ul>
            </div>
        </div>

        <!-- Email -->
        <div class="form-group">
            <label for="email">Email (*)</label>
            <input type="email" th:field="*{email}" id="email" placeholder="Email (*)" class="form-control" />
            <div th:if="${#fields.hasErrors('email')}" class="text-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('email')}" th:text="'Email ' + ${err}" />
                </ul>
            </div>
        </div>

        <!-- Registration Button -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>

    </form>

</div>

</body>

<footer>
    <p>&copy; Luxury Apartments 2023</p>
</footer>

</html>
