<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Registration Confirmation</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/registration-confirmation.css">


</head>

<body>

<h2>User registered successfully!</h2>

<!-- display first name, last name and email -->
<ul>
    <li th:text="'User name: ' + ${webUser.userName}"></li>
    <li th:text="'First name: ' + ${webUser.firstName}"></li>
    <li th:text="'Last name: ' + ${webUser.lastName}"></li>
    <li th:text="'Email name: ' + ${webUser.email}"></li>
</ul>

<hr>

<a th:href="@{/showMyLoginPage}">Login with new user name</a>

</body>

<footer>
    <p>&copy; Luxury Apartments 2023</p>
</footer>

</html>