<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/common.css">


</head>
<body>
<h1>Home Page</h1>

<br><br>
<!-- display username and role(s) -->

<p>
    User: <span sec:authentication="principal.username"></span>
    <br><br>
    Role(s): <span sec:authentication="principal.authorities"></span>
</p>

<br><br>

<div sec:authorize="hasRole('CUSTOMER')">
    <p>
        <a th:href="@{/reservations/reservation}">Create New Reservation</a>
    </p>
</div>

<div sec:authorize="hasRole('EMPLOYEE')">
    <p>
        <a th:href="@{/reservations}">Reservations List View</a>
    </p>
</div>

<div sec:authorize="hasRole('ADMINISTRATOR')">
    <p>
        <a th:href="@{/reservations}">Reservations List Cancel</a>
    </p>
</div>

<hr>

<!-- Add a logout button -->
<form action="#" th:action="@{/logout}"
      method="POST">

    <input type="submit" value="Logout" class="btn btn-outline-primary mt-2"/>

</form>


</body>

<footer>
    <p>&copy; Luxury Apartments 2023</p>
</footer>

</html>