<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<div class="container">
    <div id="loginbox" class="login-box">
        <div class="card border-info">
            <div class="card-header">
                Sign In
            </div>
            <div class="card-body">
                <div class="card-text">
                    <!-- Login Form -->
                    <form action="#" th:action="@{/authenticateTheUser}" method="POST" class="form-horizontal">

                        <div class="form-group">
                            <!-- Check for login error -->
                            <div th:if="${param.error}" class="alert alert-danger">
                                Invalid username and password.
                            </div>
                            <!-- Check for logout -->
                            <div th:if="${param.logout}" class="alert alert-success">
                                You have been logged out.
                            </div>
                        </div>
                        <!-- User name -->
                        <div class="input-group">
                            <input type="text" name="username" placeholder="username" class="form-control">
                        </div>
                        <!-- Password -->
                        <div class="input-group">
                            <input type="password" name="password" placeholder="password" class="form-control">
                        </div>
                        <!-- Login/Submit Button -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="register-link">
            <a th:href="@{/register/showRegistrationForm}" class="btn btn-primary">Register New User</a>
        </div>
    </div>
</div>

<footer>
    <p>&copy; Luxury Apartments 2023</p>
</footer>
</body>
</html>
